[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/colleen-smith/MADlibs.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/colleen-smith/electricDreams.git
