[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/colleen-smith/MADlibs.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/colleen-smith/electricDreams.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/colleen-smith/jqueryFAQ.git
[submodule "slider"]
	path = slider
	url = https://github.com/colleen-smith/slider.git
