@charset "UTF-8";
/* CSS Document */

body {
background-color: rgb(48, 173, 186);
color: rgb(247, 247, 247);

}

h1 {
    text-align: center;
}

div {
        width: 50%;
        margin: 20px 15%;
        padding: 25px;
        background-color: rgb(247, 247, 247);
        color: rgb(48, 173, 186);
}

ul {
      list-style-type: none;
}

li {font-size: 1.2em;
}



a:link {
	color: rgb(48, 173, 186);
	font-size: 1.2em;
}

a:visited {
	color: rgb(48, 173, 186);
	font-size: 1.2em;
}

a:hover {
		color: rgb(48, 173, 186);
	font-size: 1.3em;
}

